@-webkit-keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}
@keyframes rotate-in-center {
  0% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
    opacity: 1;
  }
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);
  background: url(/assets/images/background.png) no-repeat center/cover;
}

body {
  display: grid;
  place-items: center;
}

.cordon {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  position: absolute;
  width: 6.25rem;
  height: 6.25rem;
  margin-top: -50rem;
}

.faixa {
  z-index: 3;
  position: absolute;
}

.quebra {
  position: relative;
  margin-top: 9.688rem;
  border-radius: 0.438rem;
}

main {
  background-image: url("/assets/images/badge.png");
  width: 22.188rem;
  height: 33.438rem;
  color: var(--grey);

  background-color: rgba(18, 18, 20, 0.5);
  box-shadow: 0 0.5rem 2rem 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: saturate(180%) blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 0.625rem;
  border: 0.188rem solid rgba(145, 143, 148, 0.9);

  margin-top: -10rem;
}

.container {
  max-width: 15.625rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: -8.125rem;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -0.938rem;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

.rotate-in-center {
  -webkit-animation: rotate-in-center 10s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    infinite both;
  animation: rotate-in-center 10s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite
    both;
}

h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;
  justify-content: center;
  align-items: center;
}

p {
  margin-top: 2rem;
}

#socialLinks {
  margin-top: 4rem;
  list-style: none;

  display: flex;
  justify-content: center;

  gap: 0.5rem;

  margin-right: 2.688rem;
}

li {
  padding: 0.625rem;

  border-radius: 25%;
}

.youtube {
  background: #ff0000;
  transition: ease-in-out 0.5s;
}

.youtube:hover {
  filter: brightness(0.5);
  transition: all ease-in-out 0.5s;
}

.instagram {
  background-image: linear-gradient(-135deg, #1400c8, #b900b4, #f50000);

  transition: all ease-in-out 0.5s;
}

.instagram:hover {
  filter: brightness(0.5);
  transition: all ease-in-out 0.5s;

  filter: brightness(0.5);
}

.facebook {
  background: #0166e1;
  transition: all ease-in-out 0.5s;
}

.facebook:hover {
  filter: brightness(0.5);
  transition: all ease-in-out 0.5s;
}

.twitter {
  background: #2aa9e0;
  transition: all ease-in-out 0.5s;
}

.twitter:hover {
  filter: brightness(0.5);
  transition: all ease-in-out 0.5s;
}
